@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

body {
    font-family: 'Fjalla One', sans-serif;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2210775-jpeg.jpg") center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #007acc;
}

.card {
    background: #f8f4e5;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    transition: transform 0.3s;
    text-align: center;  /* Ensure all text is centered */
}

.card:hover {
    transform: translateY(-5px);
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #bbb;
    border-radius: 10px;
    font-size: 16px;
    transition: border-color 0.3s;
    background: #f8f4e5;
    outline: none;
}

input:focus {
    border-color: #007acc;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #ffa580;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    box-shadow: 3px 3px 1px 1px #95a4ff, 3px 3px 1px 2px rgba(0, 0, 0, 1);
}

button:hover {
    background-color: #005f99;
}

#error {
    color: #ff4757;
}

#result {
    margin-top: 20px;  /* Adds space between form and result */
    font-size: 1.2rem;
    font-weight: bold;
    color: #007acc;
}

::selection {
    background: #ffc8ff;
}
nav{
    background-color: green;
    color: #f8f4e5;
    z-index: 2;

}